<style>
  /* Tint Banner Section */
.tint-banner-wapper {
    /* padding: 20px; */
  margin-bottom:50px;
}

/* Image Wrapper */
.tint-banner-wapper .image-wapper {
    /* padding: 15px; */
    text-align: center;
}

.tint-banner-wapper .image-wapper img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
}

/* Text Wrapper */
.text-wrapper {
    background: #000;
    padding: 100px 50px;
    display: flex;
    justify-content: center;
}
.text-wrapper .content-wrapper{
    max-width: 450px;
    max-height: 550px;
    color: #fff;
}
/* Main Heading */
.text-wrapper .content-wrapper .main-heading {
    color: #fff;
    font-family: Poppins;
    font-weight: 600;
    font-size: 43.5px;
    line-height: 52.8px;
    letter-spacing: -0.48px;
    vertical-align: middle;

}

/* Divider Line */
.text-wrapper .content-wrapper .divider {
    border: 1px solid #ddd;
    margin: 10px 0;
}

/* Description Text */
.text-wrapper .content-wrapper .subheading {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 20px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 21.19px;
    line-height: 26.4px;
    letter-spacing: -0.24px;
    vertical-align: middle;

}
.text-wrapper .content-wrapper .description{
  color: #fff;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.18px;
  vertical-align: middle;
  text-transform: none;
  padding-bottom:20px;

}

/* Button Style */
.btn-red-rounded-home-v3 {
    padding: 10px 20px;
    background-color: #dd140e;
    color: white;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    width: 100% !important;
}

.btn-red-rounded-home-v3:hover {
    background-color: #dd140e;
}

/* Responsive Design */
@media (max-width: 768px) {
    .text-wrapper{
        padding: 40px 10px;
    }
    .text-wrapper .content-wrapper{
        max-width: 450px;
        max-height: 100%;
        color: #fff;
    }
    .text-wrapper .content-wrapper .main-heading {
        font-size: 40px;
        line-height: 44px;
    }
    .text-wrapper .content-wrapper .subheading {
        font-family: 24px;
    }

    .text-wrapper .content-wrapper .description {
        font-size: 16px;
    }

    .btn-red-rounded-home-v3 {
        width: 100%;
        font-size: 16px;
    }
  .tint-banner-wapper .image-wapper img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
    
}
</style>  

<section class="tint-banner-wapper container-fluid">
        <div class="row">
            <!-- Image Wrapper -->
            <div class="col-md-6 col-sm-12 image-wapper p-0">
                <img src="{{ section.settings.banner_image | image_url: width: '100%' , height: '100%'  }}" alt="Car Window Tint" class="img-fluid">
            </div>
            
            <!-- Text Wrapper -->
            <div class="col-md-6 col-sm-12 text-wrapper">
              <div class="content-wrapper">
                <h2 class="main-heading">
                    {{ section.settings.banner_title }}
                </h2>
                <hr class="divider">
                <p class="subheading">
                    {{ section.settings.banner_subheading }}
                </p>
                <p class="description" style="color: #ffffff !important;" >
                    {{ section.settings.description }}
                </p>
                  <a class="btn-red-rounded-home-v3" href=" {{ section.settings.banner_button_url }} ">{{  section.settings.banner_button_text }}</a>
              </div>
            </div>
        </div>
    </section>

{% schema %}

{
  "name" : "Prime Window Tint Banner",
  "settings": [
    {
      "type": "text",
      "id" : "banner_title",
      "label": "Heading",
      "default" : "Primo Automotive Window Tint"
      
    },
     {
      "type": "text",
      "id" : "banner_subheading",
      "label": "Sub Heading",
      "default" :  "Take Comfort & Protection To The Next Level"
      
    },
    {
      "type": "richtext",
      "id" : "description",
      "label" : "Description",
      "default": "<p>With so many window tint films available, making the perfect choice for your vehicle has never been easier. From the latest, top of the line nano-ceramic, high-performance metallic hybrid, and even traditional dyed window tint options, there's a PRIME™ film for every application. It outperforms other types of tint to keep you comfortable and protected. All PRIME Window Tint is backed by a lifetime transferable warranty.</p>"
    },
    {
      "type": "image_picker",
      "id" : "banner_image",
      "label" : "Banner Image"
    },
    {
      "type": "url",
      "id": "banner_button_url",
      "label": "Banner Button"
    },
     {
      "type": "text",
      "id": "banner_button_text",
      "label": "Button Text",
      "default": "Book Now"
    }
  ],
  "presets": [
    {
      "name" : "Prime Window Tint Banner",
      "category": "Custom Sections"
    }
  ]
}

{% endschema %}