
<style>
  .faq-section-wrapper {
    /* This is the unique wrapper for the FAQ section to avoid conflicts */
    padding: 30px 0;
  }
  .faq-section-wrapper #faq-block .faqblock-container .panel-heading .text-container.collapsed:before{
    content: "\002B";
  }
  .faq-section-wrapper  #faq-block .faqblock-container .panel-heading .text-container:before{
    content: "\2212";
  }
  .faq-section-wrapper #faq-block {
    border: 0px solid #e9e9e9;
    width: 80%;
    margin: 0 auto;
}
  #faq-block .faqblock-container .panel-heading .text-container .faq-title{
    font-family: Poppins;
    font-weight: 600;
    font-size: 17.81px;
    line-height: 22px;
    letter-spacing: -0.2px;
    vertical-align: middle;
  }
  #faq-block .faqblock-container .subtitle-container .faq-subtitle{
    color:#000;
  }

  .faq-container {
    padding: 20px;
  }

  .faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .faq-header h2 {
    font-size: 36px;
    font-weight: 600;
    align-self:center;
  }

  .view-all-btn {
    background-color: #Fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18.28px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    border:solid 1px #000;
    margin-top:0;
  }

  .view-all-btn:hover {
    background-color: #DD140E;
    border:solid 1px #DD140E;
    color:#fff;
  }
@media(max-width:767px){
  .faq-section-wrapper #faq-block{
    width:100%;
  }
}
 </style>

<div class="faq-section-wrapper">
  <div class="page-width">
    <!-- FAQ Page -->
    <div id="faq-block">
      <div class="faq-container">
        {% assign i = 1 %}
        {% if section.blocks.size > 0 %}
        <div id="accordion-cat" class="panel-group">
            <div class="faq-header">
              <h2>FAQs</h2>
                  <a href="{{ section.settings.faq_button_url }}" class="view-all-btn"> {{ section.settings.faq_button_text }}</a>
            </div>
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'faq-block' %}
                <div id="faqblock_{{ i }}" class="faqblock-container panel">
                  <div class="panel-heading">
                    <a class="text-container {% if i == 1 %} {% else %}collapsed{% endif %}" data-toggle="collapse" data-target="#collapseOne_{{i}}" data-parent="#accordion-cat">
                      <h4 class="faq-title">
                       {{ block.settings.faq-title }}
                      </h4>
                    </a>
                  </div>
                  <div id="collapseOne_{{i}}" class="subtitle-container panel-collapse collapse {% if i == 1 %}in{% endif %}">
                    <div class="panel-body">
                        {% if block.settings.faq-subtitle != blank %}
                          <p class="faq-subtitle"> {{ block.settings.faq-subtitle }}</p>
                        {% endif %}
                    </div>
                  </div>   
                  {% assign i = i | plus: 1 %}  
                </div>
              {% endcase %}  
            {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "FAQs Section",
  "max_blocks": 30,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_counter",
      "label": "Show FAQ Count",
      "default": true
    },
    {
      "type": "text",
       "id": "faq_button_text",
      "label": "FAQ Button Text",
      "default": "All FAQs"
    },
    {
      "type": "url",
       "id": "faq_button_url",
      "label": "FAQ Button URL",
    }
  ],
  "blocks": [
      { 
        "type": "faq-block",
        "name": "FAQs Block",
        "settings": [
          {
            "type": "text",
            "id": "faq-title",
            "label": "FAQs Question",
            "default": "Faq-Title"
          },
          {
            "type": "html",
            "id": "faq-subtitle",
            "label": "FAQs Answer",
            "default": "Faq-SubTitle"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQ Page",
        "category": "Faq"
      }
    ]
}
{% endschema %}