<style>
    

/* VLT 1 Available */
.vlt-1-offering{
    padding: 10px 7.5%;
}
.vlt-1-offering .vlt-1-logo-top{
    position: relative;
}
.vlt-1-offering .vlt-1-logo-top img{
    object-fit: cover;
    max-width: 300px;
    margin: 20px;
}
/* .vlt-1-offering .vlt-1-top-content{
    margin-top: -50px;
} */

.vlt-1-offering .vlt-1-heading{
    font-family: Poppins;
    font-weight: 600;
    font-size: 41.81px;
    line-height: 52.8px;
    letter-spacing: -0.48px;
    vertical-align: middle;
    margin-bottom: 24px;
}
.vlt-1-offering .vlt-1-para{
    max-width: 90%;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.18px;
}
.vlt-1-offering .vlt-1-btn-red-rounded-home-v3{
    background-color: #dd140e;
    color: white;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    border: none;
    /* border-radius: 50px; */
    cursor: pointer;
    text-align: center;
    display: block;
    text-decoration: none;
    width: 324px;
    height: 54px;
    border-radius: 100px;
    padding: 15px 40px;
    transition: ease-in-out .2s;
}
.vlt-1-offering .vlt-1-btn-red-rounded-home-v3:hover{
    border: 2px solid #dd140e;
    color: #dd140e;
    background: transparent;
}
.vlt-1-offering .vlt-1-top-content .view-sheet{
    text-decoration: none;
    color: #000;
    /* text-align: center; */
    margin-top: 20px;
    padding-left: 20px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;

}
.vlt-1-offering .vlt-1-top-content .view-sheet i {
    color: #dd140e;
    fill: #dd140e;
}

.vlt-1-offering .vlt-1-main-content{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.vlt-1-main-content-wrapper{
    margin-bottom: 30px;
    max-width: 100%;
}
.vlt-1-main-content-wrapper h2{
    font-family: Poppins;
    font-weight: 600;
    font-size: 21.56px;
    line-height: 26.4px;
    letter-spacing: -0.24px;
    vertical-align: middle;    
}
.vlt-1-main-content-wrapper p{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
}
.vlt-1-offering .main-heading-sign h2{
    text-align: center;
    margin: 20px auto;
    font-family: Poppins;
    font-weight: 600;
    font-size: 21.56px;
    line-height: 26.4px;
    letter-spacing: -0.24px;
    vertical-align: middle;
    max-width: 80%;

}
.vlt-1-main-content-dropdown-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    padding: 10px;
    border: 1px solid #A4A4A4;
    box-shadow: 0px 4px 4px 0px #00000040;
    
}
.vlt-1-main-content-dropdown-wrapper .content-listing-wrapper{
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.vlt-1-main-content-dropdown-wrapper .content-listing-wrapper h3{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: 10px;

}
.vlt-1-main-content-dropdown-wrapper .content-listing-wrapper h3 span{
    font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    vertical-align: middle;
    
}
.vlt-1-main-content-dropdown-wrapper .content-listing-wrapper select{
    border: 1px solid #CDCDCD;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 120px;
}
.vlt-1-main-content-dropdown-wrapper .content-listing-wrapper select option{
    text-align: center;
}

@media (max-width:991px) {
    .vlt-1-top-content{
        align-items: center;
    }
    .vlt-1-offering .vlt-1-heading {
        width: 100%;
        font-size: 40px;
        text-align: center;
        line-height: 46px;
    }
    .vlt-1-offering .vlt-1-para{
        text-align: center;
        width: 100%;
    }
}

@media (max-width:767px) {
    .vlt-1-offering{
        padding: 20px 15px;
    }
    .vlt-1-offering .vlt-1-top-content{
        margin-top: 0px;
        padding: 20px 15px;
    }

    .vlt-1-offering .vlt-1-top-content{
        align-items: center;
    }
    .vlt-1-offering .vlt-1-heading {
        width: 100%;
        font-size: 40px;
        text-align: center;
        line-height: 46px;
    }
    .vlt-1-offering .vlt-1-para{
        text-align: center;
        width: 100%;
    }
    .vlt-1-offering .vlt-1-top-content .view-sheet{
        padding-left: 0;
    }
    .vlt-1-offering .vlt-1-main-content{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 30px;
        width: 100%;
        max-width: 100%;
    }
    .vlt-1-main-content-wrapper{
        max-width: 100%;
        justify-self: center;
    }
    .vlt-1-main-content-dropdown-wrapper{
        max-width: 100%;
    }
}


</style>

<section class="vlt-1-offering container-fluid">
    <div class="d-flex row justify-content-center justify-content-lg-end justify-content-md-center vlt-1-logo-top">
        {% if section.settings.top_logo_1 %}
            <img src="{{ section.settings.top_logo_1 | img_url: 'original' }}" alt="" class="img-fluid">        
        {% endif %}    
    
        {% if section.settings.top_logo_2 %}
            <img src="{{ section.settings.top_logo_2 | img_url: 'original' }}" alt="" class="img-fluid">
        {% endif %}
    </div>

    <div class="d-flex row flex-column vlt-1-top-content">
        <h2 class="vlt-1-heading">
            {{ section.settings.section_title }}
        </h2>
        <p class="vlt-1-para">
            {{ section.settings.section_description }}
        </p>
        <a class="vlt-1-btn-red-rounded-home-v3" href="{{ section.settings.button_schedule_url }}">
            {{ section.settings.button_schedule_text }}
        </a>
        <a class="view-sheet" href="{{ section.settings.button_spec_sheet_url }}">
            <i class="fas fa-file-pdf"></i>
            {{ section.settings.button_spec_sheet_text }}
        </a>
    </div>

    <div class="row main-heading-sign">
        <h2>
            Significant Features
        </h2>
    </div>
    
    <hr class="my-2 w-50 mr-auto ml-auto"> 

    <div class="vlt-1-main-content p-lg-3 flex-md-column flex-lg-row">
        {% for block in section.blocks %}
            <div class="col-lg-6 col-md-12">
                <div class="vlt-1-main-content-wrapper row">
                    <div class="col-2 align-self-start">
                        <img src="{{ block.settings.feature_icon | img_url: 'medium' }}" alt="" class="img-fluid">
                    </div>
                    <div class="col-10">
                        <h2>
                            {{ block.settings.feature_title }}
                        </h2>
                        <p>
                            {{ block.settings.feature_description }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        
        <div class="col-lg-6 col-md-12">
            <div class="vlt-1-main-content-dropdown-wrapper row">
                <div class="content-listing-wrapper row">
                    <h3><span>{{ section.blocks[0].settings.select_title }}</span> is available</h3>
                    <select name="" id="">
                        {% assign options = section.blocks[0].settings.select_options | split: ',' %}
                        {% for option in options %}
                            <option value="{{ option | strip }}">{{ option | strip }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>



  {% schema %}
  {
  "name": "VTA Options",
  "settings": [
    {
        "type": "image_picker",
        "id": "top_logo_1",
        "label" : "Add Top Logo 1",
        "default" :""
    },
    {
        "type": "image_picker",
        "id": "top_logo_2",
        "label" : "Add Top Logo 2",
        "default" :""
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Dyed Window Film"
    },
    {
      "type": "textarea",
      "id": "section_description",
      "label": "Section Description",
      "default": "Safety and stability. Cut out the glare, protect your skin from harmful UV rays, and make any journey that much more enjoyable."
    },
    {
      "type": "text",
      "id": "button_schedule_text",
      "label": "Schedule a Call Button Text",
      "default": "Schedule a Call"
    },
    {
      "type": "url",
      "id": "button_schedule_url",
      "label": "Schedule a Call Button URL",
      "default": "#"
    },
    {
      "type": "text",
      "id": "button_spec_sheet_text",
      "label": "View Specification Sheet Button Text",
      "default": "View our Specification Sheet"
    },
    {
      "type": "url",
      "id": "button_spec_sheet_url",
      "label": "Specification Sheet URL",
      "default": "#"
    }
  ],
  "blocks": [
    {
      "type": "feature_item",
      "name": "Feature Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "feature_icon",
          "label": "Feature Icon",
          "default": ""
        },
        {
          "type": "text",
          "id": "feature_title",
          "label": "Feature Title",
          "default": "Reduces Glare"
        },
        {
          "type": "textarea",
          "id": "feature_description",
          "label": "Feature Description",
          "default": "Cuts down on the sun's glare, enhancing visibility and reducing eye strain."
        }
      ]
    },
    {
      "type": "select_dropdown",
      "name": "Select Dropdown",
      "settings": [
        {
          "type": "text",
          "id": "select_title",
          "label": "Dropdown Title",
          "default": "PRIME XR PLUS"
        },
        {
          "type": "textarea",
          "id": "select_options",
          "label": "Options (Comma separated)",
          "default": "5, 15, 20, 35"
        }
      ]
    }
  ],
  "presets": [
        {
        "name": "VTA Options",
        "category": "Custom Sections"
        }
    ]
   }

  {% endschema %}