<style>
    
/* warranty period home v3 */
.warranty-period-home-v3 {
    padding: 0;
    overflow: hidden;
}
.warranty-period-home-v3 .warranty-image-wrapper{
    max-height: 600px;
}
.warranty-period-home-v3 .warranty-image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
}

.warranty-period-home-v3 .warranty-text-wrapper{
    background: #dd140e;
    display: flex;
    align-items: center;
    justify-content: center;

}
.warranty-period-home-v3 .warranty-text-wrapper .content-wrapper{
    color: #fff;
    max-width: 650px;
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    
}
.warranty-period-home-v3 .warranty-text-wrapper .content-wrapper .main-heading{
    font-family: Poppins;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    margin-bottom: 25px;
    max-width: 500px;

}

.warranty-period-home-v3 .warranty-text-wrapper .content-wrapper .description {
    font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    /* text-decoration: underline; */
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    margin-bottom: 20px;

}

@media (max-width: 767px) {
    .warranty-period-home-v3 .warranty-text-wrapper .content-wrapper{
        max-width: 100vw;
        padding-left: 0;
        padding: 20px 15px;
    }
    .warranty-period-home-v3 .warranty-text-wrapper .content-wrapper .main-heading{
        max-width: 100svw;
    }
}
</style>

<section class="warranty-period-home-v3 container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12 warranty-text-wrapper p-0">
                <div class="content-wrapper">
                    <h2 class="main-heading">
                        {{ section.settings.banner_title }}
                    </h2>
                    <p class="description">
                        {{  section.settings.TextOne}}
                    </p>
                    <p class="description">
                        {{ section.settings.TextTwo }}
                    </p>
                    <p class="description">
                        {{  section.settings.TextThree}}
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 warranty-image-wrapper p-0">
                <img src="{{ section.settings.banner_image | image_url: width: '100%' , height: '100%'  }}" alt="">
            </div>
        </div>
    </section>


    {% schema %}
    {
  "name" : "Warranty Section",
  "settings": [
    {
      "type": "text",
      "id" : "banner_title",
      "label": "Heading",
      "default" : "Primo Automotive Window Tint"
      
    },
    {
      "type": "text",
      "id" : "TextOne",
      "label" : "Text One",
      "default": "We offer a transferable lifetime warranty on all PRIME™ car window films. "
    },
    {
      "type": "text",
      "id" : "TextTwo",
      "label" : "Text Two",
      "default": "The warranty covers against cracking, peeling, bubbling, de-lamination, fading and color change for the life of the film. "
    },
    {
      "type": "text",
      "id" : "TextThree",
      "label" : "Text Three",
      "default": "The warranty is transferable and will continue with the car even in the event the ownership change."
    },
    {
      "type": "image_picker",
      "id" : "banner_image",
      "label" : "Banner Image"
    }
  ],
  "presets": [
    {
      "name" : "Warranty Section",
      "category": "Custom Sections"
    }
  ]
}
    {% endschema %}